<div class="containter-fluid">
  <div class="row" id="chat-interface-control">
    <div class="col-lg-7" id="video-container">

      <video id="localVideo"></video>
<div id="remoteVideos"></div>

    </div>
    <div class="col-lg-5">
      <div class="row">
        <h4 class="profile-header">{{user.user_name}} Profile</h4>
        <div class="col-lg-12">
          <img src="{{photo}}" alt="" />
          <h5>Username: {{user.user_name}} </h5>
          <h5>Instrument Of Choice:{{user.musical_instrument}}</h5>
          <h5>Influenced By: {{user.influence}} </h5>
          <h5>Biography: {{user.bio}} </h5>
        </div>
        <h4 class="chat-header">Chat</h4>
        <div class="col-lg-12">

          <div id="messageArea">
  <ul class="list-group" id="users"></ul>
          <div id="chatDiv">Hello</div>
            <form autocomplete="off" id="messageForm">
              <input id="m" autocomplete="off"/>
              <input type="submit" value="chat"></input>
            </form>
        </div>

          <div class="row">
            <div class="col-lg-8" id="chat-box-control">
              <div class="form-group">
                <textarea rows="2" id="comment" cols="54" class="chat-textbox form-inline"></textarea>
              </div>
            </div>
            <div class="col-lg-2" id="send-button-control">
              <input class="btn btn-default form-inline" type="button" value="Input" id="send-button">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <button type="button" name="button" class="btn btn-primary" id="chat-control-button"> End Chat </button>
        </div>
      </div>
    </div>
  </div>
</div>
