<div class="containter-fluid">
  <div class="row" id="chat-interface-control">
    <div class="col-lg-7" id="video-container">

      <div id="remoteVideos"></div>
      <video id="localVideo"></video>

    </div>
    <div class="col-lg-5">
        <div class="row">

          <h4 class="profile-header">Profile: {{user.user_name}}</h4>
          <div class="col-lg-12 marginBottom profileDisplay">
            <img src="{{user.photo}}" alt="" />
            <p><strong>Genre:</strong> {{user.genre}}</p>
            <p><strong>Instrument:</strong>{{user.musical_instrument}}</p>
            <p><strong>Influenced By:</strong> {{user.influence}} </p>
            <p><strong>Biography:</strong> {{user.bio}} </p>
          </div>

          <h4 class="chat-header">Chat</h4>
          <div class="col-lg-12">
            <div id="chatDiv" class="profileDisplay">Hello!</div>
              <form autocomplete="off" id="messageForm">
                <div class="row">
                  <div class="col-lg-8" id="chat-box-control">
                    <textarea class="chat-textbox" rows="2" cols="50" id="m" autocomplete="off"></textarea>
                  </div>
                  <div class="col-lg-4" id="send-button-control">
                    <input class="btn btn-default form-inline" id="send-button" type="submit" value="chat"></input>
                  </div>
                </div>
              </form>
          </div>
          <div class="col-lg-12">
            <!-- <button type="button" name="button" class="btn btn-primary" id="chat-control-button"> End Video </button> -->
          </div>

        </div>
      </div>


  </div>
</div>
