
<div class="container">
  <h2>Hey {{user.user_name}}, whatchu wearing </h2>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 well">
      <form action="/edit" method="POST">
        <div class="form-group">
          <label for="genre">Genre</label>
          <input type="text" name="genre" class="form-control" id="genre" value="{{user.genre}}">
        </div>
        <div class="form-group">
          <label for="instrument">Musical Instrument</label>
          <input type="text" name="instrument" class="form-control" id="instrument" value="{{user.musical_instrument}}">
        </div>
        <div class="form-group">
          <label for="influence">Influence</label>
          <input type="text" name="influence" class="form-control" id="influence" value="{{user.influence}}">
        </div>
        <div class="form-group">
          <label for="bio">Biography</label>
          <textarea rows="5" cols="40" name="bio" class="form-control" id="bio">{{user.bio}}</textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <form action="/delete" method="POST">
        <input type="hidden" name="id" value="{{user.id}}" />
        <input type="submit" class="btn btn-default btn-sm" value="Delete Profile" />
      </form>
    </div>
  </div>
</div>
